body {
  background-color:#EAF6F6;
}

h1 {
  color: #ffd700;
}
h2 {
  color: #696969;
}
h3 {
  color: #66BFBF;
}

h4{
  color: #0000cd;
}
hr {
  border-style: none;
  border-top-style: dotted;
  border-color: grey;
  border-width: 5px;
  width: 5%;
}
.psummary {
  color: #191970;
  font-size: 1.2rem;
}
.ICAICMA {
  color: #0000ff;
  margin-bottom: 1rem;
}
.ICAICMA:hover {
  color:#ff0000;
}
.ICAI{
  color: #000000;
}
.ICAI:hover {
  color:#d2691e;
}
.SAPC {
  color: #0000ff;
right: auto;
}
.SAPC:hover {
  color:#00ffff;
}
.GST{
right: auto;
}
.GST:hover {
  color:#ffd700;
}
.ITAX{
  right: auto;
}
.ITAX:hover {
  color:#228b22;
}
.SAPCO{
  color:#696969;
}
.SAPCO:hover{
  color: #0000ff;
}
.INDEXP{

}
.CM{
  color:#00008b;
  font-size: 1.2rem;
}
.CM:hover{
color:#8b008b;

}
.container-fluid{
padding: 1% 5% 1% 0%;
margin:1% 10% 1% 1%;
font-size: 1rem;
text-align:justify;
}
.Hobbies {
  font-size:1.2rem;
  color:#b8860b;
}
.CD{
font-size:1.3rem;
color:#b8860b;

}
.CD1{
  font-size:1.3rem;

  color:#000000;

}
table {
  border: 1px light blue;
}

td {
  border: 1px ;
}
.top{
  color:#000000;
}
